@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

html, body {
	background-color: #181A1C !important;
	color: #ecf0f1 !important;
}

html, body, #container, #no-res, .input-group {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

input:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input:active {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input:focus {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.input-group {
	margin-bottom: 30px;
}

h3, h4, h5 {
	font-weight: 700 !important;
}

.card-title {
	font-weight: 700;
}

::-webkit-scrollbar {
    display: none;
}

.blur {
	-webkit-filter: blur(20px);
	filter: blur(20px);
}

#waiting {
	z-index: 1000;
	position: fixed;
	top: 40%;
	left: 25%;
	width: auto;
	height: 50px;
	padding: 20px;
	padding-top: 15px;
	border-radius: 5px;
	background-color: #151616 !important;
	text-align: center;
}

#drag-area {
	width: 100%;
	-webkit-user-select: none;
    -webkit-app-region: drag;
}

#container {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

#no-conn {
	position: fixed;
	top: 160px;
	left: 30px;
	width: 90%;
	margin: 0 auto;
	height: 50px;
	z-index: 100;
	visibility: hidden;
}

#no-res {
	z-index: 1000;
	width: 600px;
	height: auto;
	padding: 0;
	position: fixed;
	top: 280px;
	left: 50%;
	margin-left: -260px;
}

#logo-div {
	width: 150px;
	margin: 0 auto;
}

#logo {
	width: 150px;
	margin-bottom: 20px;
}

div {
	margin-bottom : 2px;
}

ul#results {
	list-style: none;
    padding-left: 0;
}

ul#results li {
	margin-bottom: 30px;
}

#poster {
	padding-right: 10px;
	float: left;
	max-height: 200px;
	background-size: contain;
}

.card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: 1px solid #151616 !important;
	background-color: #292D31 !important;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

span.badge {
	margin-right: 5px;
	font-size: 12px;
	font-weight: lighter !important;
}

.img-cont {
	width: 100% !important;
	max-height: 200px;
	background-size: cover !important;
	overflow: hidden;
}

.card-img-top {
	width: 100%;
	filter: brightness(0.5);
	-webkit-filter: brightness(0.5);
}

.poster {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	z-index: 1;
	position: relative;
	width: 150px;
	margin-top: -130px;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
	border: 1px solid #000;
	border-radius: 3px;
}

.poster:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p.card-text {
	font-size: 14px !important;
	color: #898989 !important;
}

.form-control {
	background-color: #292D31 !important;
	border-color: #151616 !important;
	color: #ecf0f1 !important;
}

.btn:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-default {
	background-color: #e74c3c !important;
	border-color: #e74c3c !important;
	color: #ecf0f1 !important;
}

.btn-primary {
	float: left;
	margin-right: 20px;
	background-color: #27ae60 !important;
	border-color: #27ae60 !important;
	color: #ecf0f1 !important;
}

.btn-info {
	float: left;
	margin-right: 20px;
}

.sub {
	/*background-color: #e67e22 !important;
	border-color: #d35400 !important;*/
}

.list-lang {
	padding: 0;
	list-style-type: none;
	padding-top: 8px;
}

.list-lang li {
	display: inline;
	margin-right: 15px;
	margin-bottom: -100px;
}

.dropdown {
	max-width: 100%;
}
.list-genre {
	padding: 0;
   	list-style-type: none;
	display: inline-block;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0 0 1em;
    white-space: nowrap;
	margin-bottom: 0px;
}

.list-genre li {
	display: inline-block;
    vertical-align: top;
	margin-right: 40px;
}

.list-genre li a {
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
}

.list-genre li a:hover {
	color: #fff;
	border-bottom: 2px solid #197BB5;
}

.list-genre li a:hover {
	color: #fff;
	border-bottom: 2px solid #197BB5;

}

hr {
	background: rgba(255, 255, 255, 0.1);
	border: none;
}

h3#genre-title {
	margin-bottom: 20px;
	font-weight: 700;
}

h3.no-margin {
	margin-bottom: 5px !important;
}

p.summ {
	color: rgba(255, 255, 255, 0.4) !important;
	margin-bottom: 30px !important;
}

.list-genre1 {
	height: auto;
	padding: 0;
   	list-style-type: none;
	display: inline-block;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0 0 1em;
    white-space: nowrap;
	margin-bottom: 20px;
}

.list-genre1 li {
	display: inline-block;
    vertical-align: top;
	margin-right: 0px;
}

.poster1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	z-index: 1;
	position: relative;
	width: 150px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px solid #000;
	border-radius: 3px;
}

.poster1:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#prob {
	z-index: 1000;
	position: relative;
	top: 190px;
	left: -150px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
